* {
  font-size: Helvetica;
  box-sizing: border-box; /*Faz com que os inputs tenham a largura do elemento pai*/
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.hide {
  display: none;
}

span {
  color: #e63636;
}
